<h1>Your Text Analysis</h1>

<h2>Number of Words: <%=@text_from_user.count_of_words%></h2>

<h2>Vowels: <%=@text_from_user.count_of_vowels%></h2>

<h2>Consonants: <%=@text_from_user.count_of_consonants%></h2>
<%hash=@text_from_user.most_used_letter%>
<h2>Most Common Letter: <%=hash.keys.first.upcase%>, used <%=hash.values.first%> times</h2>
